{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Компас-3D
      </li>
      <li class="list-group-item">
        Figma
      </li>
      <li class="list-group-item">
        Ableton
      </li>
      <li class="list-group-item">
        GIT
      </li>
      <li class="list-group-item">
        SQL
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Неплохо разобрался с Django, спасибо Яндексу за это. Но вот с декораторами шутки плохи.</p>
  </article>
</div>
{% endblock %} 